.login_signup_wrapper{
    width: 90%;
    min-height: fit-content;
    height: 40vh;
    display: flex;
    justify-content: center  ;
    align-items: center;
    overflow: hidden;
    font-size: 1rem;
    margin: 8vh 0;
}
.btn_wrapper{
    height: 40vh;
    min-width: fit-content;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 1;
    padding: 0 5vw;

}

.btn_wrapper button{
    background-color: lightseagreen;
    color: white;
    height: 50px;
    width: 30vw;
    min-width: 200px  ;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    outline: none;
    font-weight: 800;
    font: 1.2em sans-serif;
    padding: 0 2vw;
}

.btn_wrapper button:hover{
    background-color: rgb(255, 255, 255);
    color: red;
}
.btn_wrapper a:first-child button{
    background-color: rgb(3, 0, 0);
    color: lightseagreen;
    border: 1px solid rgba(255, 255, 255, 0.357);
}
.btn_wrapper a:first-child button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

/* login wrapper message */
.login_msg_wrapper{
    height: 40vh;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    color: white;
    padding: 3vh 0;
}

.login_msg_wrapper p{
    text-align: justify;
    color: rgb(187, 211, 232);
}
.login_msg_wrapper h1{
    color: white;
}
.login_msg_wrapper h1 span{
    color: lightseagreen;
}

@media screen and (max-width: 600px) {
    .login_signup_wrapper{
        font-size: 1.2rem;
        flex-direction: column;
        margin-top: 0;
    }

    .login_signup_wrapper .login_msg_wrapper{
        padding: 0 5vw;
    }
}