nav{
    width: 90%;
    /* min-height: fit-content; */
    max-height: 15vh;
    border-bottom: 2px solid rgba(255, 255, 255, 0.259);
    position: relative;
    bottom: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    align-items: center;
    text-transform: uppercase;
    background-color: #111;
    margin-bottom: 15px;
    gap: 15px;
    font-size: 1rem;
    overflow: hidden;
    margin-top: 8vh ;

}
nav h1{
    /* nav icon */
    margin: 0;
    cursor: not-allowed;
    font-size: 1.6em;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    text-transform: capitalize;
}

nav ul a{
    text-decoration: none;
    font-size: 1em;
    color: red;
}

nav button{
    padding: 2vh 2vw;
    border: none;
    border-radius: 10px;
    background-color: lightseagreen;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1em;
}

nav button {
    text-decoration: none;
    color: rgb(255, 255, 255);

}