.container {
  min-height: fit-content;
  width: 60%;
  background-color: #000000;
  min-width: fit-content;
  padding: 5vh 3vw;
  border-radius: 8px;
  margin: -3vh -5vw;
  position: relative;
  border: 4px solid red;
  outline: 2px solid rgb(255, 255, 255);
  overflow: hidden;
  scale: 0.8;
  
}
.container .profile-header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  outline: 2px solid red;
}
.profile-header h2 {
  color: #ffffff;
  font-weight: 900;
  font-size: 2em;
}
.profile-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3vw;
}
.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3vw;
  padding: 4vh 0;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.56);
  flex-wrap: wrap;
}
.stats .stat-box {
  width: fit-content;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 3vh 1vw;
  border-radius: 8px;
}
.stats .stat-box p {
  color: red;
  font-weight: 900;
  font-size: 1.2em;
}
.profile-info {
  justify-content: center;
  align-items: center;
  padding: 3vh 0;
}
.profile-info label {
  font-size: 18px;
  font-weight: 600;
  color: #ff0000;
}
.profile-info p {
  font-size: 15px;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 3vh;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vw;
}
.button-container button {
  color: white;
  width: 200px;
  min-width: fit-content;
  background-color: lightseagreen;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  border: none;
  transition: 0.4s;
  padding: 3vh 2vw;
  cursor: pointer;
  float: right;
  font-size: 18px;
  text-transform: uppercase;
}

.button-container a:last-child button {
  background-color: red;
}
.button-container a:last-child button:hover {
  background-color: white;
  color: red;
}
.button-container button:hover {
  background-color: white;
  color: red;
}

/* error message showing */
.login-error {
  width: 90%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.login-error h1 {
  color: white;
  font-size: 3em;
  text-align: center;
  padding: 5vh 3vw;
  background-color: #111;
  border: 4px solid lightseagreen;
  outline: 2px solid white;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}

.login-error h1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: lightseagreen;
  filter: blur(100px);
  opacity: 0.3;
  z-index: -1;
}

@media (max-width: 600px) {
  .button-container {
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
  }

  .container {
    margin: -8vh 0;
  }

  .profile-info{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
  }
}
